<app-header></app-header>
<div class="row">
    <h3>Schritt 1: Erklärvideo</h3>
    <p>Im folgenden Video wird erläutert, worauf man achten muss, wenn man einen Kunden anlegt. Zudem gehen wir kurz auf die Aufteilung der Kundendaten, auf die zentrale & dezentrale Datenpflege und als auch die verschiedenen Rollen, die einem Kunden zugewiesen werden können.</p>
    <div class="col-6">
        <iframe width="95%" height="500" src="https://www.youtube.com/embed/o3NEv2njOsI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-6">
        <iframe src="https://kahoot.it/challenge/0535413?challenge-id=91702b28-8896-4196-83dc-fd65e3e9e5d8_1623685304119" width="95%" height="500" name="iFrame" title="Das ist mein Video"></iframe>

    </div>
</div> 
<hr>
<div class="row">
    <h3>Praxisvideo Part 1</h3>
    <div class="col-6">
   <p>Viel Spass beim schauen! </p>
    </div>
    <div class="col-6">
        <iframe width="90%" height="300" src="https://www.youtube.com/embed/muZjuzN5kss" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
</div>
<hr>
<div class="row">
    <h3>Praxisvideo Part 2</h3>
    <div class="col-6">
        <iframe width="90%" height="300" src="https://www.youtube.com/embed/SUVLe9Kuru0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
    <div class="col-6">
        <p>Viel Spass beim schauen! </p>
    </div>
</div>
<hr>
<div class="row">
    <h3>Praxisvideo Part 3</h3>
    <div class="col-6">
        <p>Viel Spass beim schauen! </p>
    </div>
    <div class="col-6">
        <iframe width="90%" height="300" src="https://www.youtube.com/embed/7HlVCtSXhgw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
</div>