<app-header></app-header>
<div class="row">
    <h3>Erklärvideo: Ansprechpartner anlegen</h3>
    <div class="col-6"> 
        <iframe width="90%" height="300" src="https://www.youtube.com/embed/ZGFFjhMoUR8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
    <div class="col-6">

    </div>
</div>
<hr>
<div class="row">
    <h3>Praxisvideo: Einen Kunden anlegen</h3>
    
</div>